[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "obAnalytics"]
	path = obAnalytics
	url = https://github.com/phil8192/ob-analytics
